.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.body-container {
  display: grid;
    grid-template-areas: "header header header"
                         ". main .";
    grid-template-columns: 150px 1fr 150px;
    grid-template-rows: 65px 
                        1fr;
    min-height: 100vh;
}

@media screen and (max-width: 600px) {
  .body-container {
      grid-template-areas: "header"
                           "main";
      grid-template-columns: 100%;
      grid-template-rows: 65px 
                          1fr;
  }
}

.main { 
  grid-area: main;
  text-decoration: none;
}

.header {
  grid-area: header;
  position: fixed;
  width: 100%;
  z-index: 1;
}

.farm-container {
  margin: 10px 10px 0 10px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 10px;
  grid-auto-rows: 1fr;
}


.farm-paper {
  padding: 5px 10px 5px 10px;
}

.farm-paper:hover {
  background-color: #dbdbdb !important;
}

.farms-show {
  background-color: #e6ecf0;
}

.form-action-buttons {
  margin-top: 5px;
}

.submit-button {
 margin-right: 10px;   
}

a, a:link, a:visited, a:focus, a:active, a:hover {
  text-decoration: none;
  color: black;
}

