.Header-mansikka {
  height: 50px;
}

.Header {
  background-color: #99ccff;
  padding: 5px;
  color: white;
  text-align: center;
  position: sticky;
  width: 100%;
}

.Header-title {
  font-size: 1.5em;
}
